<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c948c0cf-5929-4302-9c89-abad519761f3/resourceGroups/LocalService/providers/Microsoft.Web/sites/LocalSHUBAPI</ResourceId>
    <ResourceGroup>LocalService</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localshubapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localshubapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LocalSHUBAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LocalSHUBAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Login" Order="1" Enabled="False">
          <Destination Path="Data Source=fyplab.database.windows.net;Initial Catalog=LSHUB;Persist Security Info=True;User ID=wei;Password=Predator423;Application Name=EntityFramework" Name="Data Source=fyplab.database.windows.net;Initial Catalog=LSHUB;Persist Security Info=True;User ID=wei;Password=Predator423;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCHUB.Login, MVCHUB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Login-Web.config Connection String">
      <ParameterValue>Data Source=fyplab.database.windows.net;Initial Catalog=LSHUB;Persist Security Info=True;User ID=wei;Password=Predator423;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>